@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Text */

  /* Font Familly */
  /* QuickSand 
    Bold +1+1+1+1+1+1+1+1+1+1+1
    SemiBold
    Medium +1+1+1+1
    Regular +1

    56
    46  +1
    42.14 
    32  
    26
    24.52
    24  +1
    20  +1+1+1+1+1
Raleway
    Bold    +1
    Medium  +1+1+1
    15.09   + 1
    15.34   +1 */

  /* Text - Color */
  --orange: orange;
  --orangeLight: #f0aa00;
  --skyBlue: #01acfd; /*   +1   */
  --lightBlue: #64c8ff;
  --teal: #05d4df;
  --purple: #5d58ef;
  --purpleLight: #8700ff;
  --black-dim: #111111;
  --black-solid: #000000; /*   +1+1   */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: 'Quicksand', serif;
  font-weight: bold;
  font-size: 20px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.horizontalCenter {
  align-items: center;
}

/* Buttons */
button {
  font-family: 'Quicksand', serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 12px;
  padding: 10px 61px;
  outline: transparent;
  border: none;
  cursor: pointer;
}

.buttonSmall {
  font-weight: 600;
  padding: 10px 47px;
}

/* Backgrounds */
.bgDarkDim {
  background: var(--black-dim);
}

.bgDarkSolid {
  background: var(--black-solid);
}

.bgOrange {
  background: var(--orange);
}

/* Text */
.raleway {
  font-family: 'Raleway', serif;
}

.weightMedium {
  font-weight: 500;
}

.textCenter {
  text-align: center;
}

.text24px {
  font-size: 24.52px;
}

.text15px {
  font-size: 15.09px;
}

/* Text Color */
.txtWhite {
  color: white;
}

.txtBlue {
  color: var(--lightBlue);
}

.txtOrange {
  color: var(--orangeLight);
}

.txtPurple {
  color: var(--purpleLight);
}

/* Cards */
/* Curriculum Cards */
.curriculumCards {
  gap: 28.29px;
  background: li;
}
.curriculumCard {
  border-radius: 18.86px;
  padding: 53.29px 40.775px;
}

.curriculumCardContentGap {
  gap: 33px;
}

.bgBlueGradient {
  background-image: linear-gradient(to bottom, #def5ff 0%, #ffffff 40%);
  border: 1px solid #def5ff;
}

.bgYellowGradient {
  background-image: linear-gradient(to bottom, #fff4dc 0%, #ffffff 40%);
  border: 1px solid #fff4dc;
}

.bgPurpleGradient {
  background-image: linear-gradient(to bottom, #f2e8ff 0%, #ffffff 40%);
  border: 1px solid #f2e8ff;
}
