@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Text */

  /* Font Familly */
  /* QuickSand 
    Bold +1+1+1+1+1+1+1+1+1+1+1
    SemiBold
    Medium +1+1+1+1
    Regular +1

    56
    46  +1
    42.14 
    32  
    26
    24.52
    24  +1
    20  +1+1+1+1+1
Raleway
    Bold    +1
    Medium  +1+1+1
    15.09   + 1
    15.34   +1 */

  /* Text - Color */
  --orange: #fea301;
  --orangeLight: #f0aa00;
  --skyBlue: #01acfd;
  --lightBlue: #64c8ff;
  --blue: #3cd8e8;
  --teal: #05d4df;
  --purple: #5d58ef;
  --purpleLight: #8700ff;
  --black-dim: #111111;
  --black-solid: #000000;
  --green: #95b226;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: 'Quicksand', serif;
  font-weight: bold;
  font-size: 20px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

/* Utility Classes */
.container {
  max-width: 1160px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.horizontalCenter {
  align-items: center;
}

.spaceBetween {
  justify-content: space-between;
}

/* Buttons */
button {
  font-family: 'Quicksand', serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 12px;
  padding: 14px 61px;
  outline: transparent;
  border: none;
  cursor: pointer;
}

.buttonSmall {
  font-weight: 600;
  padding: 15px 48px;
}

/* Backgrounds */
.bgDarkDim {
  background: var(--black-dim);
}

.bgDarkSolid {
  background: var(--black-solid);
}

.bgOrange {
  background: var(--orange);
}

.bgGreen {
  background: var(--green);
}

.bgBlue {
  background: var(--blue);
}

/* Text */
.raleway {
  font-family: 'Raleway', serif;
}

.weightMedium {
  font-weight: 500;
}

.weightRegular {
  font-weight: 400;
}

.textCenter {
  text-align: center;
}

.text56px {
  font-size: 56px;
}

.text46px {
  font-size: 46px;
}

.text32px {
  font-size: 32px;
}

.text24px {
  font-size: 24.52px;
}

.text15px {
  /* font-size: 15.09px; */
  font-size: 14.9999px;
}

/* Text Color */
.txtWhite {
  color: white;
}

.txtBlue {
  color: var(--lightBlue);
}

.txtSkyBlue {
  color: var(--skyBlue);
}

.txtTeal {
  color: var(--teal);
}

.txtOrange {
  color: var(--orangeLight);
}

.txtPurple {
  color: var(--purpleLight);
}
.txtPurpleAlt {
  color: var(--purple);
}

/* Nav Section */
nav {
  padding: 20px 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.logo p {
  margin-left: 12px;
}

/* Hero Section */
.heroCTA {
  align-items: flex-start;
  max-width: 640px;
  gap: 24px;
}

.lineHeight {
  line-height: 1.5;
}

/* Cards */
/* Curriculum Cards */
.curriculum {
  padding: 60px 0;
  background-image: url('./assets/bg.png');
  background-size: cover;
}

.curriculumCards {
  gap: 28.29px;
  /* background: li; */
  padding: 80px 0 87px 0;
}
.curriculumCard {
  border-radius: 18.86px;
  padding: 53.29px 40.775px;
}

.curriculumCardContentGap {
  gap: 38px;
}

.bgBlueGradient {
  background-image: linear-gradient(to bottom, #def5ff 0%, #ffffff 40%);
  border: 1px solid #def5ff;
}

.bgYellowGradient {
  background-image: linear-gradient(to bottom, #fff4dc 0%, #ffffff 40%);
  border: 1px solid #fff4dc;
}

.bgPurpleGradient {
  background-image: linear-gradient(to bottom, #f2e8ff 0%, #ffffff 40%);
  border: 1px solid #f2e8ff;
}

.slideBTNs {
  gap: 10px;
}

.lineHeightAlt {
  line-height: 1.8;
}

/* Stories Card */
.stories {
  padding: 60px 0;
  background-image: url('./assets/bg.png'),
    linear-gradient(to top, #fea301 -200%, #ffffff 100%);
}

.storiesCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 19.17px;
  padding: 80px 0 80px 0;
}

.storiesCard {
  border-radius: 16px;
}

.storiesCard img {
  border-radius: 16px 16px 0 0;
}

.storiesCardsTxt {
  position: relative;
  border-radius: 0 0 16px 16px;
  padding: 33px 37px;
}

.storiesCardDate {
  position: absolute;
  top: -18px;
  left: 34px;
  border-radius: 47.93px;
  padding: 10px 19px;
}

.featured {
  grid-row: span 2;
  grid-column: span 2;
}

/*  */